#footer{
    background: #34495E;
    color: white;
}

#footer a, #footerDivider a{
    color: white;
    text-decoration: none;
}

#footerDivider{
    background: #566573 ;
    color: white;
}

#main img{
    max-height: 70vh;
    object-fit: cover;
    filter: grayscale(50%);
}

#carousel{
    position: relative;

}

#carousel .overlay{
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
}

#carousel .overlay .container,
#carousel .overlay .row{
    height: 100%;
}

.btn-tecnoeduca{
    background-color: #566573;
    color: white;
}

.btn-tecnoeduca:hover{
    background-color: white;
    color: black;
}

#clase-online{
    background: black;
    color: white;
}

#clase-online img{
    max-width: 100%;
}

.tooltip-inner {
    max-width: 200px;
    padding: 3px 8px;
    color: #fff;
    text-align: center;
    background-color: #1A5276;
    border-radius: .25rem;
    }
    .tooltip.bs-tooltip-auto[x-placement^=top] .arrow::before, .tooltip.bs-tooltip-top .arrow::before {
    margin-left: -3px;
    content: "";
    border-width: 5px 5px 0;
    border-top-color: #1A5276;
    }